<!doctype html>

<html>
  <head>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>




    <title>CSCI 444 Project 3 - Geo Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CSCI 444 - Project 4 - William Lyon</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--  <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
	<br><br>
        <h1>Octoviz</h1>
        <p class="lead">Visualizing network data from Github: social coding.</p>

      </div>

    <ul id="myTab" class="nav nav-tabs">
        
	<li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
	<li><a href="#hypothesis" data-toggle="tab">Hypothesis</a></li>
	<li><a href="#bad_vis" data-toggle="tab">Bad Visual</a></li>
	<li><a href="#good_vis" data-toggle="tab">Good Visual</a></li>
	<li><a href="#vis_1" data-toggle="tab">Visual #1</a></li>
        <li><a href="#vis_2" data-toggle="tab">Visual #2</a></li>
	<li><a href="#vis_3" data-toggle="tab">Visual #3</a></li>
	<li><a href="#vis_4" data-toggle="tab">Visual #4</a></li>
	<li><a href="#analysis" data-toggle="tab">Analysis</a></li>
  

    </ul>
      <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade in active" id="overview">
          <figure>
            <img src="/img/github_interactions.png" width=700 />
          <figcaption>Source: <a href="http://www.stanford.edu/class/cs224w/upload/cs224w-015-final.pdf">SAGH: Social Analysis Of Github</a></figcaption>
	      </figure>

          <p>This project explores network data from Github. What is github. Github as a social network. Diagram of possible interactions. Brief info about github API.</p>
                    
        </div>


	<div class="tab-pane fade" id="hypothesis">
      <br><p>Hypothesis is existence of language clusters.</p>
      <div class="panel panel-info">
	    <div class="panel-heading">
	      <h3 class="panel-title">Hypothesis</h3>
	    </div>
	    <div class="panel-body">
	      <p>Developers who develop in certain languages only interact with other developers who focus on similar languages.</p>
        </div>
	  </div>

	</div> <!-- /.tab-pane -->

	<div class="tab-pane fade" id="bad_vis">
      <p>Source: <a href="http://www.nanex.net/FlashCrash/OngoingResearch.html">Nanex High Frequency Trading Research Group</a></p>
      <p><iframe width="420" height="315" src="//www.youtube.com/embed/mTqPaHO7G1U" frameborder="0" allowfullscreen></iframe></p>

	  <div class="panel panel-danger">
	    <div class="panel-heading">
	      <h3 class="panel-title">Why this is a bad visual</h3>
	    </div>
	    <div class="panel-body">
          <p>This visual shows quotes and trades across all exchanges for shares of The New York Times Company (NYSE: NYT) for a 50 millisecond period. The graphic is taken a bit out of context (this <a href="http://www.youtube.com/watch?v=mTqPaHO7G1U">page</a> contains additional commentary) but the point of the visual is to demonstrate that a great amount of bidding/trading occurs in New York (where the exchanges are located) in the amount of time that is takes (according to the speed of light) for information to reach Los Angeles. This is interesting, however the visual misses the opportunity to help the viewer visualize this geographically.</p>
        </div>
	  </div>

	</div>


	<div class="tab-pane fade" id="good_vis">
	  
      <br>Source: <a href="http://bost.ocks.org/mike/hive/" target="_blank">Hive Plot Software Dependency Example</a> (will open in new tab/window)
	  <div class="panel panel-success">
	    <div class="panel-heading">
	      <h3 class="panel-title">Why this is a good visual</h3>
	    </div>
	    <div class="panel-body">
	      <p>This is an example of a Hive Plot, a type of network data visualization that groups notes by type. Contrasted with a force directed layout, this method of assigning position to nodes, allows for information to be encoded in the x,y coordinates of the node.</p>
        </div>
	  </div>

	</div> <!-- /.tab-pane -->

	<div class="tab-pane fade" id="vis_1">
	  <h3>Real-time starred repositories by language</h3>
      Source: <a href="http://developer.github.com/v3/activity/events/">Github Events API v3</a>
	  <p><iframe style="border: 0px;" src="/realtime" height=1000 width=1000 scrolling="yes"></iframe></p>
	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h3 class="panel-title">About Visual #1</h3>
	    </div>
	    <div class="panel-body">
	      <h4>Data</h4>
          <p>Github API. Events. Real time.</p>
          <h4>Horizon Chart</h4>
          <p><img src="/img/horizon.png"/>What are we looking at.</p>
          <p><a href="http://vis.berkeley.edu/papers/horizon/">Paper about horizon chart</a></p>
          <h4>Conclusions</h4>
          <p>Exploratory and fun.</p>
          <h4>How Created</h4>
	      <p>This visual was created using the following open-source libraries:
		<ul>
		  <li><a href="https://github.com/square/cube">Cube</a> - a system for collecting timestamped events and driving metrics</li>
		  <li><a href="https://github.com/square/cubism">Cubism.js</a> - a JavaScript library for time series visualization</li>
          <li><a href="http://d3js.org">D3</a> - data driven documents.
		</ul>
	    </div>
	  </div>
	</div> <!-- /.tab-pane -->
  
        <div class="tab-pane fade" id="vis_2">
        
	  <h3>Github users and their starred repositories</h3>
	   Source: <a href="http://developer.github.com/v3">Githup API v3</a>

       
	  <p><iframe style="border: 0px;" src="/star_repo_personal" height="800" width="1000" scrolling="yes"></iframe></p>
	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h3 class="panel-title">About Visual #2</h3>
	    </div>
	    <div class="panel-body">
          <h4>Alternate Visual</h4>
          <p><a href="/star_repo" target="_blank">Top 15 Github contributors (will open in new tab/window)</a> <br> This visual uses similar data as the visual embedded above, however it examines the Github accounts of the top 15 Github contributors during the past 12 months.</p>
	      <h4>Dataset</h4>
          <p>The visual displayed above uses data from the traversal of my Github social network (friends and followers). A node is created for each friend or follower. For each user node, additional nodes are created for each starred repository, with an edge from the repository node to the user node of the user who starred that repository. Repository nodes with more than one edge show that multiple users have starred the same repository. The Alternate Visual linked to above uses similar data, but rather than a traversal of my Github social network, relies on data from the top Github contributors.</p>
          <h4>About Visual</h4>
          <p>This visual was creating using D3 Javascript library. It uses a force directed layout to position each node. The forces being simulated are a repulsive charge (all nodes) and an attractive force between connected nodes. This results in nodes with similar edges being grouped together on the graph and nodes with dissimilar connections being pused away to the edges of the visual. reated with D3 force directed layout. Additional information about each node is available by clicking on the node.</p>
	      <h4>Analysis</h4>
          <p>This visual shows Ego-like graphs with few nodes sharing multiple edges.</p>
	  </div>
	  </div> 

	</div> <!-- / .tab-pane -->

	<div class="tab-pane fade" id="vis_3">
	  <h3>Github users and their starred repositories, by language</h3>
      Source: <a href="http://developer.github.com/v3">Githup API v3</a>
      
      <br>
      <p>Top 20 Github contributors<br><iframe style="border: 1px;" src="/star_lang" height="700" width="1000" scrolling="yes"></iframe></p>

      
      <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h3 class="panel-title">About Visual #3</h3>
	    </div>
	    <div class="panel-body">

		<h4>Dataset</h4>
        <p>This visual uses the same data as shown in Visual #2, however instead of plotting a node for each repository a node is plotted for the <strong>language</strong> in which the starred repository is written. Nodes with multiple edges therefore show multiple users who have a starred one or more repositories in that language. </p>
		<h4>Analysis</h4>
	    <p>An interesting characteristic that appears in both visuals presented above is the apparent distinction of two classes of languages. In the center of the graph are common language nodes (Java, C, Python, Javascript, etc) that more users appear to be interested in. On the outer regions of the graph are more esoteric languages (LiveScript, F#, TypeScript, OCaml, etc) that are used by one or only a few users. This is  Appear to be two classes of languages: common language with edges to many user nodes, and many uncommon langues with few edges.</p>  
      </div>
	  </div>

	</div> <!-- /.tab-pane -->

	<div class="tab-pane fade" id="vis_4">
	   <h3>Github users and their owned repositories, by language</h3>
        Source: <a href="http://developer.github.com/v3">Githup API v3</a>
	    <p>Personal network
        <br><iframe style="border: 1px;" src="/own_lang_personal" height="700" width="1000" scrolling="yes"></iframe></p> 
      <br>
      <p>Top 20 Github contributors
      <br><iframe style="border: 1px;" src="/own_lang" height="700" width="1000" scrolling="yes"></iframe></p>

	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h3 class="panel-title">About Visual #4</h3>
	    </div>
	    <div class="panel-body">
	      
		<h4>Dataset</h4>
        <p>Similar data, but now showing repos owned by users instead of starred. </p>
		<h4>Analysis and conclusions</h4>
        <p>Similar language distribution. Need more data with more interactions.</p> 
      </div>
	  </div>

	</div> <!-- /.tab-pane -->

    



	<div class="tab-pane fade" id="analysis">
	   <h3>Analysis And Conclusions</h3>
       <h4>Power Law Analysis</h4>
       <p>A power law function expresses the value of a variable in terms of the power (exponent) of another variable. In this case we explore the power law relationship of the distribution of degree of the nodes in our graph. In other words, we look for evidence that the frequency of the number of edges per node follows a power law.  </p>
        <h5>Plots</h5>
        <figure>
         <img src="/img/freq.png" width=500/>
          <figcaption>This frequency plot shows that most nodes have only 1 edge, while only a small number of nodes have many edges.</figcaption>
        </figure>

        <p><table border="1" style="float: right;">
          <caption>Regression Analysis: log(Number Edges) vs log(Frequency)</caption>
          <tr><th colspan=2>Regression Summary Stats</th></tr>
		  <tr>
		    <td><b>p-value:</b></td>
		    <td>0.0003</td>
		  </tr>
		  <tr>
		    <td><b>r^2:</b></td>
		    <td>0.5867</td>
		  </tr>
		  <tr>
		    <td><b>Slope: </b></td>
		    <td>-0.7604</td>
		  </tr>
		  <tr>
		    <td><b>Intercept: </b></td>
		    <td>4.6761</td>
		  </tr>
	      </table>
        <h5>Conclusions</h5>
        <p>What is the power law exponent? Does the distribution make sense?</p>
      <h4>Conclusions</h4>
        Did we prove my hypothesis? Why not? More data?
	</div>
      </div> <!-- /.tab-content-->

    </div><!-- /.container -->
    
  </body>
</html>
