<!doctype html>

<html>
  <head>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>




    <title>Octoviz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CSCI 444 - Project 4 - William Lyon</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--  <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
	<br><br>
        <h1>Octoviz</h1>
        <p class="lead">Visualizing network data from Github: social coding.</p>

      </div>

    <ul id="myTab" class="nav nav-tabs">
        
	<li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
	<li><a href="#hypothesis" data-toggle="tab">Hypothesis</a></li>
	<li><a href="#bad_vis" data-toggle="tab">Bad Visual</a></li>
	<li><a href="#good_vis" data-toggle="tab">Good Visual</a></li>
	<li><a href="#vis_1" data-toggle="tab">Visual #1</a></li>
        <li><a href="#vis_2" data-toggle="tab">Visual #2</a></li>
	<li><a href="#vis_3" data-toggle="tab">Visual #3</a></li>
	<li><a href="#vis_4" data-toggle="tab">Visual #4</a></li>
	<li><a href="#analysis" data-toggle="tab">Analysis</a></li>
  

    </ul>
      <div id="myTabContent" class="tab-content">
      
        <div class="tab-pane fade in active" id="overview">
          <strong>Note: This page will take several moments to load and may become unresponsive while rendering. Please be patient. </strong>
          <p>
          <figure>
            <img src="/img/github_interactions.png" width=700 />
          <figcaption>Entity-Relationship diagram for Github. Source: <a href="http://www.stanford.edu/class/cs224w/upload/cs224w-015-final.pdf">SAGH: Social Analysis Of Github</a></figcaption>
        </figure></p>


          <p>This project explores network data from Github. Github is web service that allows software developers to collaborate on and share open source software projects. It is focused on the git version control system: a hub for git repositories. Github has gradually added user interaction features that effectively make Github a social network. This is consistent with their tagline "Github: Social Coding". The entity-relationship diagram above shows all Github entities and the possible relationships amongst them. Our current analysis will focus on the user and repository (project) entities and the "starred" relationship between users and repositories. Starring is a method of a user indicating interest in a repository. This is analogous to a favorite or like in other social networks. Github maintains an API which makes the retrieval of these entities and relationships relatively straight forward.</p>
                    
        </div>


	<div class="tab-pane fade" id="hypothesis">
      <br><p>This project will explore the relationship between users and repositories on Github. Particularly I am interested in exploring ways to visualize the distribution of different programming languages being used on Github and the user interactions of developers in the context of the languages they use.</p>
      <div class="panel panel-info">
	    <div class="panel-heading">
	      <h3 class="panel-title">Hypothesis</h3>
	    </div>
	    <div class="panel-body">
	      <p>Developers who develop in certain languages only interact with other developers who focus on similar languages.</p>
        </div>
	  </div>

	</div> <!-- /.tab-pane -->

	<div class="tab-pane fade" id="bad_vis">
      <p>Source: <a href="http://www.nanex.net/FlashCrash/OngoingResearch.html">Nanex High Frequency Trading Research Group</a></p>
      <p><iframe width="420" height="315" src="//www.youtube.com/embed/mTqPaHO7G1U" frameborder="0" allowfullscreen></iframe></p>

	  <div class="panel panel-danger">
	    <div class="panel-heading">
	      <h3 class="panel-title">Why this is a bad visual</h3>
	    </div>
	    <div class="panel-body">
          <p>This visual shows quotes and trades across all exchanges for shares of The New York Times Company (NYSE: NYT) for a 50 millisecond period. The graphic is taken a bit out of context (this <a href="http://www.youtube.com/watch?v=mTqPaHO7G1U">page</a> contains additional commentary) but the point of the visual is to demonstrate that a great amount of bidding/trading occurs in New York (where the exchanges are located) in the amount of time that is takes (according to the speed of light) for information to reach Los Angeles. This is interesting, however the visual misses the opportunity to help the viewer visualize this geographically.</p>
        </div>
	  </div>

	</div>


	<div class="tab-pane fade" id="good_vis">
	  
      <br>Source: <a href="http://bost.ocks.org/mike/hive/" target="_blank">Hive Plot Software Dependency Example</a> (will open in new tab/window)
	  <div class="panel panel-success">
	    <div class="panel-heading">
	      <h3 class="panel-title">Why this is a good visual</h3>
	    </div>
	    <div class="panel-body">
	      <p>This is an example of a Hive Plot, a type of network data visualization that groups notes by type. Contrasted with a force directed layout, this method of assigning position to nodes, allows for information to be encoded in the x,y coordinates of the node.</p>
        </div>
	  </div>

	</div> <!-- /.tab-pane -->

	<div class="tab-pane fade" id="vis_1">
	  <h3>Real-time starred repositories by language</h3>
      Source: <a href="http://developer.github.com/v3/activity/events/">Github Events API v3</a>
	  <p><iframe style="border: 0px;" src="/realtime" height=1000 width=1000 scrolling="yes"></iframe></p>
	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h3 class="panel-title">About Visual #1</h3>
	    </div>
	    <div class="panel-body">
	      <h4>Data</h4>
          <p>This graph makes use of the Github Public Timelime Event API to show starred repositories on Github, grouped by programming language. Each time a Github user stars a repository, it is captured in real-time. Each new star is essentially a new edge in our network data graph, so it is important to understand the general rate at which these edges are being created and some approximation of the distribution across languages. The chart is updated in real-time and plotted using 5-minute intervals. For smoothing, a 24 observation moving average is calculated and used for plotting. This results in a 2 hour (24 observations * 5 minute interval) window for the smoothing. </p>
          <h4>Horizon Chart</h4>
          <p>
          
          <figure><img src="/img/horizon.png"/>
            <figcaption>Horizon Chart explanation. Source: <a href="http://vis.berkeley.edu/papers/horizon/">here</a></figcaption>
            </figure>
            This graph makes use of a type of chart known as the Horizon Chart. This <a href="http://vis.berkeley.edu/papers/horizon/">paper </a> describes the Horizon Chart and cites the work of Edward Tufte (specifically small multiples and the data/ink ratio) and Cynthia Brewer (known for her work on color theory in cartography). The Horizon Chart reduces the use of vertical space without losing resolution by overplotting larger values in successively darker colors.  </p>
          <h4>Analysis</h4>
          <p>It is important to note that values for each language are plotted on an independently scaled y-axis and therefore values should not be compared across languages, rather relative values should be compared across languages. Changes in the number of repositories starred are most easily identified by changes in the coloring and height of the horizon line. It is interesting to note that there appears to be a spike across several languages at approximately 2am each weekday. It would be interesting to gather data on which specific projects were being starred at certain time intervals and the distribution of unique repos being starred. Are the spikes due to a popular news/blog post generating buzz for a specific project? This data would most likely be more useful if plotted over a longer time interval, however due to data collection complications this was not explored for this visual.</p>
          <h4>How Created</h4>
	      <p>This visual was created using the following open-source libraries:
		<ul>
		  <li><a href="https://github.com/square/cube">Cube</a> - a system for collecting timestamped events and driving metrics</li>
		  <li><a href="https://github.com/square/cubism">Cubism.js</a> - a JavaScript library for time series visualization</li>
          <li><a href="http://d3js.org">D3</a> - data driven documents.
		</ul>
        A server process is constantly running to consume the Github Public Timeline Event API. Each event is inserted into mongoDB on the server. When the webpage is loaded a WebSocket connection is established between the client and server to populate the graph. The WebSocket connection is maintained to allow for continuous real-time updates of the graph (in this case in 5-minute intervals).
          </p>
	    </div>
	  </div>
	</div> <!-- /.tab-pane -->
  
        <div class="tab-pane fade" id="vis_2">
        
	  <h3>Github users and their starred repositories</h3>
	   Source: <a href="http://developer.github.com/v3">Githup API v3</a>

       
	  <p><iframe style="border: 0px;" src="/star_repo_personal" height="800" width="1000" scrolling="yes"></iframe></p>
	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h3 class="panel-title">About Visual #2</h3>
	    </div>
	    <div class="panel-body">
          <h4>Alternate Visual</h4>
          <p><a href="/star_repo" target="_blank">Top 15 Github contributors (will open in new tab/window)</a> <br> This visual uses similar data as the visual embedded above, however it examines the Github accounts of the top 15 Github contributors during the past 12 months.</p>
	      <h4>Dataset</h4>
          <p>The visual displayed above uses data from the traversal of my Github social network (friends and followers). A node is created for each friend or follower (user nodes). For each user node, additional nodes are created for each starred repository, with an edge from the repository node to the user node of the user who starred that repository. Repository nodes with more than one edge show that multiple users have starred the same repository. The Alternate Visual linked to above uses similar data, but rather than a traversal of my Github social network, relies on data from the top Github contributors.</p>
          <h4>About Visual</h4>
          <p>This visual was creating using D3 Javascript library. It uses a force directed layout to position each node. The forces being simulated are a repulsive charge (all nodes) and an attractive force between connected nodes. This results in nodes with similar edges being grouped together on the graph and nodes with dissimilar connections being pused away to the edges of the visual. reated with D3 force directed layout. Additional information about each node is available by clicking on the node.</p>
	      <h4>Analysis</h4>
          <p>This graphic shows several repository nodes focused around individual user nodes: the repositories that particular user has starred. The interesting nodes are those starred by multiple users. These nodes can be identified as those with multiple edges. The force directed layout has the effect of pulling these nodes out of the cluster associated with a single user and into a cluster of nodes shared by two or more users. </p>
	  </div>
	  </div> 

	</div> <!-- / .tab-pane -->

	<div class="tab-pane fade" id="vis_3">
	  <h3>Github users and their starred repositories, by language</h3>
      Source: <a href="http://developer.github.com/v3">Githup API v3</a>
      
      <br>
      <p>Top Github contributors<br><iframe style="border: 1px;" src="/star_lang" height="700" width="1000" scrolling="yes"></iframe></p>

      
      <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h3 class="panel-title">About Visual #3</h3>
	    </div>
	    <div class="panel-body">

		<h4>Dataset</h4>
        <p>This visual uses the same data as shown in Visual #2, however instead of plotting a node for each repository a node is plotted for the <strong>language</strong> in which the starred repository is written. Nodes with multiple edges therefore show multiple users who have a starred one or more repositories in that language. </p>
		<h4>Analysis</h4>
	    <p>An interesting characteristic that appears in both visuals presented above is the apparent distinction of two classes of languages. In the center of the graph are common language nodes (Java, C, Python, Javascript, etc) that more users appear to be interested in. On the outer regions of the graph are more esoteric languages (LiveScript, F#, TypeScript, OCaml, etc) that are used by one or only a few users. This is  Appear to be two classes of languages: common language with edges to many user nodes, and many uncommon langues with few edges.</p>  
      </div>
	  </div>

	</div> <!-- /.tab-pane -->

	<div class="tab-pane fade" id="vis_4">
	   <h3>Github users and their owned repositories, by language</h3>
        Source: <a href="http://developer.github.com/v3">Githup API v3</a>
	    <p>Personal network
        <br><iframe style="border: 1px;" src="/own_lang_personal" height="700" width="1000" scrolling="yes"></iframe></p> 
      <br>
      <p>Top Github contributors
      <br><iframe style="border: 1px;" src="/own_lang" height="700" width="1000" scrolling="yes"></iframe></p>

	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h3 class="panel-title">About Visual #4</h3>
	    </div>
	    <div class="panel-body">
	      
		<h4>Dataset</h4>
        <p>Similar data, but now showing repositories owned (typically created by) by users instead of starred. </p>
		<h4>Analysis</h4>
        <p>The grouping of languages here is very similar to that in Visual #3. We again see two classes of languages: commonly used languages in the center and less common languages pushed to the edge of the graph.</p> 
      </div>
	  </div>

	</div> <!-- /.tab-pane -->

    



	<div class="tab-pane fade" id="analysis">
	   <h3>Analysis And Conclusions</h3>
       <h4>Power Law Analysis</h4>
       <p>A power law function expresses the value of a variable in terms of the power (exponent) of another variable. In this case we explore the power law relationship of the distribution of degree of the nodes in our graph. In other words, we look for evidence that the frequency of the number of edges per node follows a power law.  </p>
        <h5>Plots</h5>
        <figure>
         <img src="/img/freq.png" width=500/>
          <figcaption>This frequency plot shows that most nodes have only 1 edge, while only a small number of nodes have many edges.</figcaption>
        </figure>

        <p><table border="1" style="float: right;">
          <caption>Regression Analysis: log(Number Edges) vs log(Frequency)</caption>
          <tr><th colspan=2>Regression Summary Stats</th></tr>
		  <tr>
		    <td><b>p-value:</b></td>
		    <td>0.0003</td>
		  </tr>
		  <tr>
		    <td><b>r^2:</b></td>
		    <td>0.5867</td>
		  </tr>
		  <tr>
		    <td><b>Slope: </b></td>
		    <td>-0.7604</td>
		  </tr>
		  <tr>
		    <td><b>Intercept: </b></td>
		    <td>4.6761</td>
		  </tr>
	      </table>
        <h5>Conclusions</h5>
        <p>In terms of the power law distribution, this analysis shows that many repositories are starred by one user (in our sample) and few repositories are starred by multiple users. This makes sense in the context of our data, but it would also be interesting to include <strong>all</strong> stars per repository and not just the stars of users in our sample. This would be a more consistent comparison with the standard popularity power law function.</p>
      <h4>Conclusions</h4>
      <p>Most of the evidence presented in the visualizations appears to be inconsistent with our hypothesis. Rather than ego-type network patterns, with many developers focused around one or two languages, we observed many developers using many different languages.  Further analysis could be done to examine the hypothesis: 
      <ul>
        <li>Edges could be weighted according to number of contributions in a specific language</li>
        <li>Data on more users could be collected to extend the dataset</li>
        <li>Data on more user interactions (contributions, following, pull requests, forking, branching, etc ) all with different edge weights according to their relative significance would be particularly imformative</li>

    </ul>

        </p>
	</div>
      </div> <!-- /.tab-content-->

    </div><!-- /.container -->
    
  </body>
</html>
