<!doctype html>

<html>
  <head>

    !-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>




    <title>CSCI 444 Project 3 - Geo Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CSCI 444 - Project 4 - William Lyon</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--  <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
	<br><br>
        <h1>Octoviz</h1>
        <p class="lead">Visualizing network data from Github: social coding.</p>

      </div>

    <ul id="myTab" class="nav nav-tabs">
        
	<li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
	<li><a href="#hypothesis" data-toggle="tab">Hypothesis</a></li>
	<li><a href="#bad_vis" data-toggle="tab">Bad Visual</a></li>
	<li><a href="#good_vis" data-toggle="tab">Good Visual</a></li>
	<li><a href="#vis_1" data-toggle="tab">Visual #1</a></li>
        <li><a href="#vis_2" data-toggle="tab">Visual #2</a></li>
	<li><a href="#vis_3" data-toggle="tab">Visual #3</a></li>
	<li><a href="#vis_4" data-toggle="tab">Visual #4</a></li>
	<li><a href="#analysis" data-toggle="tab">Analysis</a></li>
  

    </ul>
      <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade in active" id="overview">
          <p>This project explores network data from Github.</p>

	</div>


	<div class="tab-pane fade" id="hypothesis">
      <br><p>Hypothesis is existence of language clusters.</p>
      <div class="panel panel-info">
	    <div class="panel-heading">
	      <h3 class="panel-title">Hypothesis</h3>
	    </div>
	    <div class="panel-body">
	      <p>Developers who develop in certain languages only interact with other developers who focus on similar languages.</p>
        </div>
	  </div>

	</div> <!-- /.tab-pane -->

	<div class="tab-pane fade" id="bad_vis">

	  <a href="http://www.stratasan.com/bad-maps-apples-map-app-and-poor-cartographic-design/">From Stratasan blog post</a><br><br>

	  <img src="img/BadMap_Capitals.jpg" width=900><br><br>

	  <div class="panel panel-danger">
	    <div class="panel-heading">
	      <h3 class="panel-title">Why this is a bad visual</h3>
	    </div>
	    <div class="panel-body">
	      <p>This visual seems to have a good map projection and dataset, but does a poor job of implementation. The legend gives no indication of the units used for population. At first, I thought the units were millions of people, however after some quick scrutiny that is clearly not the case. The use of circle overlays in itself is not bad, however the way this visual has moved the overlays aside to allow labeling is problematic. If the intent is to show population density, then keeping the circle overlays positioned geographically accurate is key. Moving them aside only distorts the data being displayed, while not adding much value to the labeling. Instead, the circles should have been kept centered over the city they represent with labeling done inside the circle when needed. A different scale for the circles might also be beneficial (a logarithmic scale perhaps?). These changes would have more clearly shown population density per geographic region.</p>
	    </div>
	  </div>

	</div>


	<div class="tab-pane fade" id="good_vis">
	  
	  <br>See also: <a href="http://www.gapminder.org/world/#$majorMode=map$is;shi=t;ly=2003;lb=f;il=t;fs=11;al=30;stl=f;st=f;nsl=t;se=t$wst;tts=C$ts;sp=5.59290322580644;ti=2012$zpv;v=0$inc_x;mmid=XCOORDS;iid=phAwcNAVuyj1jiMAkmq1iMg;by=const$inc_y;mmid=YCOORDS;iid=phAwcNAVuyj2tPLxKvvnNPA;by=const$inc_s;uniValue=8.21;iid=phAwcNAVuyj1jiMAkmq1iMg;by=ind$inc_c;uniValue=255;gid=CATID0;by=grp$map_s;sma=49;smi=8.2$cd;bd=0$inds=" target="_blank">Gapminder's Wealth and Health Of Nations</a> and <a href="http://bost.ocks.org/mike/nations/" target="_blank">Mike Bostock's Recreation in D3</a><br><hr></br>
	  <a href="http://mbostock.github.io/d3/talk/20111116/airports.html">Mike Bostock's Airport Example, showing Voronoi overlay</a>
	  <iframe style="border: 0px;" src="http://mbostock.github.io/d3/talk/20111116/airports.html" height=900 width=1200 scrolling="yes"></iframe>

	  <div class="panel panel-success">
	    <div class="panel-heading">
	      <h3 class="panel-title">Why these are good visuals</h3>
	    </div>
	    <div class="panel-body">
	     <h4>Wealth and Health of Nations</h4>
	      <p>These contrast the bad visual example to show how circle overlays can be used effectively. A small amount of interaction resolves the problem of labeling. Animation is used to introduce the dimension of time to the visualizations. The Gapminder visualization contains a stunning number of indicators that can be visualized, resulting in a great exploratory visual analysis tool. </p>

	    <h4>Airport example</h4>
	      <p>Again shows circle overlays used effectively, contrasting with the poor implementation of circle overlays in the Bad Visual example.  This visual also shows how the technique of a hidden Voronoi overlay works for selecting an observation on mouseover. This technique, especially effective for small observation points on a circle overlay, is commonly used in D3 visuals to add an interactive component.</p>
	    </div>
	  </div>

	</div> <!-- /.tab-pane -->

	<div class="tab-pane fade" id="vis_1">
	  <h3>Real-time starred repositories by language</h3>
      Source: <a href="http://developer.github.com/v3/activity/events/">Github Events API v3</a>
	  <p><iframe style="border: 0px;" src="/realtime" height=1000 width=1000 scrolling="yes"></iframe></p>
	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h3 class="panel-title">About Visual #1</h3>
	    </div>
	    <div class="panel-body">
	      <h4>Data</h4>
          <p>Github API. Events. Real time.</p>
          <h4>Visualizing stars</h4>
          <p>What are we looking at.</p>
          <h4>Conclusions</h4>
          <p>Exploratory and fun.</p>
          <h4>How Created</h4>
	      <p>This visual was created using the following open-source libraries:
		<ul>
		  <li><a href="https://github.com/square/cube">Cube</a> - a system for collecting timestamped events and driving metrics</li>
		  <li><a href="https://github.com/square/cubism">Cubism.js</a> - a JavaScript library for time series visualization</li>
          <li><a href="http://d3js.org">D3</a> - data driven documents.
		</ul>
	    </div>
	  </div>
	</div> <!-- /.tab-pane -->
  
        <div class="tab-pane fade" id="vis_2">
        
	  <h3></h3>
	   Source: Correlates of War <a href="http://www.correlatesofwar.org/COW2%20Data/WarData_NEW/WarList_NEW.html">Interstate War Data v4.0</a> and <a href="http://www.correlatesofwar.org/COW2%20Data/Capabilities/nmc4.htm">National Material Capabilities Index</a>


	  <p><iframe style="border: 0px;" src="/viz2" height="550" width="1000" scrolling="no"></iframe></p>
	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h3 class="panel-title">About Visual #2</h3>
	    </div>
	    <div class="panel-body">
	      <h4>Dataset</h4>
	      <p>This visual makes use of v4.0 of the Correlates Of War inter-state war data. Unlike v3.10 (used in Visual #1), this dataset contains number of battle related fatalities per country for interstate militarized disputes from 1816-2007. We also introduce a measure of the "power" of a country: the National Material Capabilities Index. This index is composed of a composite of six variables: iron and steel production, military expenditures, military personnel, energy consumption, total population and urban population for each country. This index will serve as a proxy for the power of a country for the remainder of our analysis. </p>
	      <h4>Crossfilter map</h4>
	      <p>This visual consists of an interactive map with a colored overlay corresponding to one of three variables: the National Capabilites Index score, average fatalities per war or average fatalities per war per military personnel. The crossfilter box for each variable shows the distribution of the variable among the observations, but also allows the user to filter the observations by selecting a range for each variable. This provides an interactive tool to explore our hypothesis: by selecting the lower range on the National Capability index Crossfilter tool, we should expect to see observations filtered with relatively high fatalities. Conversely, by filtering at the high end of average fatalities, we should expect to see countries at the low end of the National Capability Index distribution. And indeed, by doing this filtering we see some evidence that supports our hypothesis.</p> 
	     <p> While this visual provides some evidence consistent with our hypothesis, this method of analysis does not quantify the correlation we are attempting to examine. A different visual analysis technique should be applied to the data. Also problematic, the time dimension is removed from this analysis: all data has been averaged across observations. Since the size of a country's military and its score on the National Capabilites Index changes through time it would be much more useful to observe the relationship between fatalities and the National Capabilities Index at a specific time, rather than across a time average. We explore such an analysis in the next two visuals.</p>

	      <h4>How Created</h4>
	      <p>The following open-source libraries were used: 
		<ul>
		  <li><a href="http://leafletjs.com/">Leaflet.js</a>- JavaScript library for interactive maps</li>
		  <li><a href="http://square.github.io/crossfilter/">Crossfilter</a>- fast multidimensional filtering for coordinated views</li>
		  <li><a href="http://d3js.org/">D3</a>- Data Driven Documents</li>
		  <li><a href="https://github.com/crcn/sift.js">Sift.js</a>- MongoDB inspired array filtering</li>
		</ul>
The map in this visual was created using a Spherical Mercator projection, the default projection availabe with Leaflet.

		</p>
	  </div>
	  </div> 

	</div> <!-- / .tab-pane -->

	<div class="tab-pane fade" id="vis_3">
	  <h3>Fatalities vs National Capabilities Index</h3>
	  Source: Correlates Of War <a href="http://www.correlatesofwar.org/COW2%20Data/Capabilities/nmc4.htm">National Material Capabilities v4.0</a> and <a href="http://www.correlatesofwar.org/COW2%20Data/WarData_NEW/WarList_NEW.html">Interstate War Data v4.0</a> | size of circle = military personnel

	  <iframe style="border: 0px;" src="/viz4" height="550" width="900" scrolling="no"></iframe> 
	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h3 class="panel-title">About Visual #3</h3>
	    </div>
	    <div class="panel-body">
		<table border="1" style="float: right;">
		  <tr><th colspan=2>Regression Summary Stats</th></tr>
		  <tr>
		    <td><b>p-value:</b></td>
		    <td>0.0003</td>
		  </tr>
		  <tr>
		    <td><b>r^2:</b></td>
		    <td>0.0403</td>
		  </tr>
		  <tr>
		    <td><b>Slope: </b></td>
		    <td>1742839.37</td>
		  </tr>
		  <tr>
		    <td><b>Intercept: </b></td>
		    <td>31011.72</td>
		  </tr>
	      </table>


		<h4>Dataset</h4>
		<p>This visual makes use of the same data shown in Visual #2, but in the form of a scatter plot. A data point is plotted for each state involved in each dispute. Summary information can be viewed by hovering over a data point.</p>

		<h4>Conclusions</h4>
		<p>A quick examination of the regression summary stats table shows the results are inconsistent with our hypothesis: fatalities are positively correlated with the National Capabilities Index score. The regression is statisticaly significant (p-value less than 0.05), however very little of the variation in fatalities is explained by the National Capabilities Index (low r-squared statistic). There is a significant mistake in this visual however: the number of fatalities is not adjusted to a per-capita value. It is likely that larger militaries experience greater fatalities per dispute simply becuase more members of the military are involved in fighting. Visual #4 takes this into account. It is also important to note tha by observing the sizes of the data points plotted (military personnel) we can see that military personnel is highly correlated with the National Capabilities Index. </p>

		<h4>How Created</h4>
		<p>This visual was created using <a href="http://www.d3js.org">D3.</a> Regression analysis was done using Python SciPy.</p>
	     	 

	    </div>
	  </div>

	</div> <!-- /.tab-pane -->

	<div class="tab-pane fade" id="vis_4">
	   <h3>Fatalities vs National Capabilities Index</h3>
	  Source: Correlates Of War <a href="http://www.correlatesofwar.org/COW2%20Data/Capabilities/nmc4.htm">National Material Capabilities v4.0</a> and <a href="http://www.correlatesofwar.org/COW2%20Data/WarData_NEW/WarList_NEW.html">Interstate War Data v4.0</a> | size of circle = number of fatalities

	  <iframe style="border: 0px;" src="/viz3" height="550" width="900" scrolling="no"></iframe> 
	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h3 class="panel-title">About Visual #4</h3>
	    </div>
	    <div class="panel-body">
	      
	<table border="1" style="float: right;">
		  <tr><th colspan=2>Regression Summary Stats</th></tr>
		  <tr>
		    <td><b>p-value:</b></td>
		    <td>0.1107</td>
		  </tr>
		  <tr>
		    <td><b>r^2:</b></td>
		    <td>0.0079</td>
		  </tr>
		  <tr>
		    <td><b>Slope: </b></td>
		    <td>-1.9471</td>
		  </tr>
		  <tr>
		    <td><b>Intercept: </b></td>
		    <td>0.4499</td>
		  </tr>
	      </table>
	

		<h4>Dataset</h4>
		<p>This visual is similar to Visual #3, however the number of fatalities is adjusted by dividing the size of the state's military at the sime oof the dispute. </p>

		<h4>Conclusions</h4>
		<p>We can now see a slight negative correlation between fatalities per military personnel and the National Capabilities Index. However, the regression statistics show this result is not statistically significant. There is also an important problem: by adjusting fatalities by the size of the military we have introduced cross correlation into our regression. Since size of the military is highly correlated with the National Capabilities Index (as we saw in Visual #3, and indeed number of military personnel is a component of the Index) we have possibly contaminated the results by introducing this cross correlation. Overall results seem to be inconclusive, a better model should be used for this analysis.</p>
	    </div>
	  </div>

	</div> <!-- /.tab-pane -->

    



	<div class="tab-pane fade" id="analysis">
	   <h3>Map Projections</h3>
	  Source:  <a href="http://bl.ocks.org/mbostock/3711652">This demo</a> was created by <a href="http://bost.ocks.org/mike/">Mike Bostock</a> to showcase the map projections available in <a href="http://www.d3js.org">D3</a>
	 
 <iframe style="border: 0px;" src="/project" height="550" width="1000" scrolling="no"></iframe> 
	    <h4>Mercator</h4>
	    <p>Visuals #1 and #2 both were displayed using a Mercator projection. The Mercator projection has a long history (first presented in 1569) and gained initial popularity because of properties that made it particularly convenient for nautical navigation (by representing rhumb lines, or a line crossing all meridans or longitude at the same angle - in nautical terms a bearing - as stright lines). The Mercator projection significantly distorts the map projection at the poles, however.</p>

	    <p>
	      <b>Projection formulas</b>
	      <ul>
		<li>\(x = \lambda - \lambda_0\)</li>
		<li>\(y - \ln(\tan(\phi)+\sec(\phi)) \)</li>
		<li>where: \(\phi\) is the latitude and \(\lambda\) is the longitude </li>
	      </ul>

	      <b>Inverse formulas</b>
	      <ul>
		<li>\(\phi = \tan^{-1}(\sinh(y))\)</li>
		<li>\(\lambda = x + \lambda_0 \)</li>
	      </ul>

  
	    </p>
	    <h4>Lambert-Azimuthal Equal-Area Projection</h4>
	    <p>The polar perspective of the Lambert-Azimuthal is used for the United Nations logo. The entire Earth can be viewed, however angular distortions are extremely bad at the edges.</p>

	    <b>Projection formulas</b>
	      <ul>
		<li>\(x = k^{'}\cos(\phi)\sin(\lambda-\lambda_0)\)</li>
		<li>\(y = k^{'}(\cos(\phi_1)\sin(\phi)-\sin(\phi_1)\cos(\phi)\cos(\lambda-\lambda_0)) \)</li>
		<li>where: \( k^{'}=\sqrt{\frac{2}{(1+\sin(\phi_1)\sin(\phi)+\cos(\phi_1)\cos(\phi)\cos(\lambda-\lambda_0))}}\) </li>
	      </ul>

	      <b>Inverse formulas</b>
	      <ul>
		<li>\(\phi = \sin^{-1}(\cos(c)\sin(\phi_1)+ \frac{(y\sin(c)\cos(\phi_1))}{\rho}) \)</li>
		<li>\(\lambda = \lambda_0+\tan^{-1}(\frac{(x\sin(c))}{(\rho\cos(\phi_1)\cos(c)-y\sin(\phi_1)\sin(c))}) \)</li>
		<li>where \( \rho = \sqrt{x^2+y^2} \)</li>
		<li>and \( c = 2\sin^{-1}(\frac{1}{2}\rho)\)</li>
	      </ul>

	
	    <h4>Hammer</h4>
	    <p>The Hammer projection is an extension of the Lambert-Azimuthal projection which attempts to reduce the distortion toward the outer edges, where angual distortions are particularly bad. This extension involves an intermediate transformation by halving the vertical coordinates and doubling the values of the meridians from the center.</p>
	    <b>Projection formulas</b>
	      <ul>
		<li>\(x = \frac{2\sqrt{2}\cos(\phi)\sin(\frac{\lambda}{2})}{\sqrt{1+\cos(\phi)\cos(\frac{\lambda}{2})}}\)</li>
		<li>\( y = \frac{\sqrt 2\sin(\phi)}{\sqrt{1 + \cos(\phi) \cos\left(\frac\lambda 2\right)}}\)</li>
		<li>where: \(\phi\) is the latitude and \(\lambda\) is the longitude </li>
	      </ul>

	      <b>Inverse formulas</b>
	    The inverse is calculated with the intermediate variable z
	      <ul>
		<li>\(z = \sqrt{1 - \left(\frac1 4 x\right)^2 - \left(\frac1 2 y\right)^2}\)</li>
		<li>\(\lambda = 2 \arctan \left[\frac{zx}{2(2z^2 - 1)}\right]\)</li>
		<li>\(\phi = \arcsin(zy) \)</li>
	      </ul>

	      <h4>References</h4>
	      <p>
		<ul>
		  <li>http://en.wikipedia.org/wiki/Mercator_projection</li>
		  <li>http://mathworld.wolfram.com/MercatorProjection.html</li>
		  <li>http://www.progonos.com/furuti/MapProj/Normal/CartHow/HowAzEqDA/howAzEqDA.html</li>
		  <li>http://lazarus.elte.hu/~guszlev/vet/plane.htm</li>
		  <li>http://en.wikipedia.org/wiki/Lambert_azimuthal_equal-area_projection</li>
		  <li>http://mathworld.wolfram.com/LambertAzimuthalEqual-AreaProjection.html</li>
		  <li>http://mathworld.wolfram.com/Hammer-AitoffEqual-AreaProjection.html</li>
		  <li>http://en.wikipedia.org/wiki/Hammer_projection</li>
		</ul>
	      </p>



	</div>
      </div> <!-- /.tab-content-->

    </div><!-- /.container -->
    
  </body>
</html>
